.result_count, .filter .sorting_btns a span, .page_top .page_start span, .page_top .page_prev span, .page_top .page_next span, .page_top .page_end span, .prop_list dd .calendar input, .selected_attr dd a .close_icon, .filter .sorting_btns a b, .prop_list dd.more_city .ex_btn, .prop_list dd.more_city .ex_btn_hover, .madai_wrap
.fm_price{background:url(../images/o_20x500.png) no-repeat}.filter, .filter .filterForm .submit_btn button, .prop_list dd.more_fiter .mf_btn, .prop_list dd.more_fiter
.mf_btn_hover{background:url(../images/pro_icon.png) no-repeat}.c_999{color:#999}.madai_wrap
.rank_priceform{width:108px;background:#fff;height:21px;display:inline;margin-left:20px;margin-right:30px;margin-top:3px}.madai_wrap
.filter{background:#f1f1f1}.madai_wrap .filter
.sorting{padding:4px
18px}.madai_wrap
.fm_price{width:90px;height:20px;background-position:93px -2047px}.madai_wrap
.fm_price_ul{background:#fff;position:absolute;left:-1px;top:21px;padding-left:10px;width:98px;border:1px
solid #eaeaea;border-top:0 none;padding-top:5px;display:none}.madai_wrap .fm_price_ul
li{margin-bottom:5px;cursor:pointer}.madai_wrap .filter
.calendar{float:left;margin-right:10px;margin-top:3px}.madai_wrap .filter .calendar
div{float:left;height:24px;line-height:20px;padding:0
3px;position:relative;width:auto}.madai_wrap .filter .calendar
input{border:0
none;padding:3px
2px 3px 5px;vertical-align:middle;width:70px}.madai_wrap .filter
.submit_btn{float:left;width:32px;height:20px;margin-top:3px}.madai_wrap .filter .submit_btn
button{width:32px;height:20px;line-height:20px;text-align:center;background:#f80;color:#fff;cursor:pointer;border:0
none;border-radius:2px}.clearfix:after{clear:both;content:"";display:table;overflow:hidden}.prop_list dd .morechoice,
.prop_list dd .lesschoice,
.prop_list dd .more,
.prop_list dd .seniorSel li
.arrow{background:url(../images/o_20x500.png) no-repeat}.prop_list dd
li.mulselect{background:url(../images/add.png) no-repeat 0 0}.clear{clear:both}.result_count{float:right;background-position:-3px -394px;padding:0
0 0 17px;width:auto}.result_count
em{color:#f60;font-weight:700}.tn_column{width:auto}.tn_column
.tn_col_head{margin:0
0 10px 0}.tn_column
.col_wrap{border-bottom:2px solid #3e8b08;zoom:1;height:30px}.tn_column .col_wrap
li{position:relative;bottom:-2px;float:left;color:#3f890a;background:#f8f8f8;background:-moz-linear-gradient(center top , #fff, #ececec) repeat scroll 0 0 transparent;border-radius:4px 4px 0 0;height:27px;line-height:27px;font-size:14px;border-top:1px solid #c8c8c8;border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;margin:0
5px 0 0;cursor:pointer;behavior:url(../images/pie.htc);font-weight:700}.tn_column .col_wrap li:hover{border:1px
solid #3e8b08;border-bottom:none;background:-moz-linear-gradient(center top , #fbfff5, #e8f3d7) repeat scroll 0 0 transparent}.tn_column .col_wrap
li.col_current{background:#76b61d;background:-moz-linear-gradient(center top , #84c735, #76b61d) repeat scroll 0 0 transparent;color:#fff;font-weight:700;border-top:1px solid #3e8b08;border-left:1px solid #3e8b08;border-right:1px solid #3e8b08;height:27px;line-height:27px;color:#fff;padding:0
8px}.tn_column .col_wrap li
a{display:block;padding:0
8px}.filter_reset{float:right;margin-left:15px}.filter_head{width:auto}.filter_head
.filterHb{height:30px;line-height:30px;border-bottom:3px solid #4e9700}.filter_head .filterHb
.fTourname{float:left;color:#404040;font-size:14px;font-weight:700}.filter_head .filterHb
.filter_reset{float:right;cursor:pointer}.nw_tab li
a{color:#666;float:left;font-weight:400;height:29px;line-height:29px;padding:0
15px;text-align:center}.nw_tab li a:hover{color:#4e9700;background:#f9fff3}.nw_tab li.cur a:hover{color:#fff;background:#4e9700}.filter_head
.filterDes{height:29px;background:#f9fff3;border:1px
solid #eaeaea;border-top:0 none}.filterDes
li{float:left;display:inherit;margin:0
20px}.filterDes li
a{line-height:29px}.filterDes li a:hover{color:#f60}.filterDes li.cur
a{font-weight:bold;color:#4e9700}.nw_title{_border-right:1px solid #eaeaea}.cate_nav{width:auto;border-width:0px 1px 1px 1px;border-color:#4e9700 #eaeaea #eaeaea #eaeaea;border-style:solid solid solid solid;overflow:visible}.madai_wrap
.cate_nav{border-top:1px solid #eaeaea}.selected_attr{border-bottom:1px solid #eaeaea}.selected_attr
dl{float:left;padding:5px
15px}.selected_attr dt, .selected_attr
dd{float:left;display:inline;height:21px;line-height:21px}.selected_attr dd
a{position:relative;border:1px
solid #ffaa1d;display:block;float:left;margin:3px
5px 2px 0;padding:0
16px 0 3px;height:15px;line-height:15px;z-index:-1}.selected_attr dd a
.close_icon{position:absolute;top:1px;right:1px;background-position:-3px -465px;display:inline-block;width:14px;height:13px}.prop_list{background:#fff}.prop_list
.prop_item{padding:7px
15px;text-align:left;white-space:nowrap;overflow:hidden;position:static}.prop_list .prop_item
.confAndCancel{display:none}.prop_list
.showCheckBox{background-color:#f5f5f5}.prop_list .showCheckBox
.confAndCancel{display:block}.prop_list .prop_item .filter_input
input{display:none}.prop_list .showCheckBox .filter_input
input{display:inline}.prop_list dt,  .prop_list dd
li{float:left;display:inline}.prop_list
dd{float:left}.prop_list
dd.twoLines{height:48px;overflow:hidden}.prop_list
dl{padding:0
0 0 85px;zoom:1}.prop_list dl:after{content:".";display:block;height:0;clear:both;visibility:hidden}.prop_list
dt{margin:0
0 0 -85px;line-height:24px;text-align:right;width:60px}.prop_list
dd{width:100%}.prop_list .mult_select
dd{width:100%;position:relative}.prop_list dl
ul{width:100%}.prop_list dl
ul.seniorSel{}.prop_list .hasMoreChoice dl
ul{width:570px;pos/ition:relative}.prop_list dd
li{overflow:visible;margin-right:5px}.prop_list dd li.filter_input
input{position:relative;top:2px;margin-right:5px;*top:1px;*position:static}.prop_list .xc_days dd li.filter_input
input{margin-right:-3px}.prop_list dd
li.fixedpos{position:absolute;right:-15px;display:none;top:0}.prop_list .hasMoreChoice dd
li.fixedpos{display:inline}.prop_list dd
li.mulselect{position:absolute;right:40px}.prop_list .showCheckBox dd li.hasSelected
a{border:1px
solid #f90;padding:0px
8px 2px}.prop_list dd
li.mulselect{background-position:5px 7px;background-color:#fff}.prop_list dd li.mulselect:hover{background-position:5px -13px;background-color:#fff}.prop_list dd li.mul/select:hover{background-color:#f0f0f0;transition:background-color 0.3s ease-in}.prop_list dd li.mulselect
a{border:1px
solid #d8d8d8;padding:0px
3px 0px 16px;height:18px;line-height:16px;*line-height:20px;line-height:18px\0;line-height:20px\9\0}.prop_list dd li
a{display:inline-block;white-space:nowrap;height:16px;line-height:16px;padding:2px
8px;margin:2px
0}.prop_list dd li a:hover{color:#f60}.prop_list  dd li
a.cur_city{background:#ffae2c;color:#fff;display:inline-block}.madai_wrap .prop_list  dd li
a.cur_city{background:#f80;color:#fff;display:inline-block}.prop_list  .showCheckBox dd li
a.input_hide{display:none}.prop_list dd li.has_selected
a{background:none repeat scroll 0 0 #FFAE2C;color:#FFF}.madai_wrap .prop_list dd li.has_selected
a{background:#f80}.prop_list .showCheckBox dd li.has_selected
a{background:none;color:#404040}.prop_list dd
.calendar{float:left}.prop_list dd .calendar
div{pos/ition:relative;float:left;width:auto;height:24px;line-height:20px;padding:0
3px}.prop_list dd .calendar
input{border:1px
solid #d0d0d0;background-position:112px -432px;padding:3px
2px 3px 5px;vertical-align:middle;width:125px}.prop_list dd .calendar .b_day, .prop_list dd .calendar
.e_day{position:absolute;right:28px;top:3px;color:#999;line-height:16px}.prop_list
dd.more_fiter{position:relative;z-index:1;width:auto;padding:0
100px 0 0}.prop_list dd.more_fiter
.mf_btn{position:absolute;top:4px;right:0;background-position:0 -1380px;width:76px;height:22px;text-indent:-20000em;cursor:pointer}.prop_list dd.more_fiter
.mf_btn_hover{background-position:0 -1402px}.prop_list dd.more_fiter
#more_pot{height:44px}.prop_list
dd.more_city{position:relative;z-index:1;width:auto;padding:0
100px 0 0}.prop_list dd.more_city
.ex_btn{position:absolute;top:4px;right:0;background-position:46px -342px;color:#666;width:76px;height:22px;cursor:pointer}.prop_list dd.more_city
.ex_btn_hover{background-position:46px -368px}.prop_list dd.more_city .ex_btn:hover{color:#f60}.prop_list dd.more_city
#city_list{height:44px}.filter{width:798px;height:32px;margin:0
0 10px;border:1px
solid #eaeaea;border-top:0 none;background:#fff}.filter
.filterForm{padding:10px
18px;height:21px;line-height:21px;vertical-align:middle}.filter .filterForm
p.basic{float:left}.filter .filterForm
.s_keywords{border:1px
solid #d8d8d8;padding:3px
2px 3px 5px;margin:0
10px 0 0}.filter .filterForm
.submit_btn{float:left;width:70px;height:24px}.filter .filterForm .submit_btn
button{background-position:0 -282px;border:0
none;cursor:pointer;color:#fff;font-weight:700;width:70px;height:24px;vertical-align:middle}.filter .filterForm
.advanced{float:left;width:auto;margin:0
0 0 30px;height:21px;line-height:21px}.filter .filterForm .advanced
ul{float:left}.filter .filterForm .advanced ul
li{float:left;margin:0
10px 0 0;height:24px;line-height:24px}.filter .filterForm .advanced ul li
input{vertical-align:middle;margin:0
5px 0 0}.filter
.sorting{padding:0
10px;height:28px;line-height:28px}.filter
.sorting_btns{float:left}.filter .sorting_btns
li{float:left}.filter .sorting_btns
a{display:inline-block;margin:0
0 0 3px;padding:0
3px 0 0;cursor:pointer}.filter .sorting_btns a
span{background-position:20px -87px;display:block;width:30px;padding:0
10px 0 0}.filter .sorting_btns
.crt{color:#f60;font-weight:700}.filter .sorting_btns .crt
span{background-position:20px -110px}.filter .sorting_btns .default
span{background:none;padding-right:0}.filter .sorting_btns .dbsort
span{background-position:20px -134px}.filter .sorting_btns .dbsort_asc
span{background-position:20px -159px}.filter .sorting_btns .dbsort_desc
span{background-position:20px -186px}.filter .sorting_btns a
b{position:absolute;top:10px;right:3px;width:7px;height:10px}.filter .sorting_btns
a.time_sort{position:relative;padding:0
15px 0 0}.filter .sorting_btns a.time_sort
b{background-position:-7px -144px}.filter .sorting_btns a.time_sort_asc, .filter .sorting_btns
a.time_sort_desc{color:#f60;font-weight:700}.filter .sorting_btns a.time_sort_asc
b{background-position:-7px -169px}.filter .sorting_btns a.time_sort_desc
b{background-position:-7px -196px}.rank_priceform{float:left;position:relative;z-index:2;width:140px;height:20px;line-height:20px;margin:0px
0 0 0;overflow:visible;white-space:nowrap}.rank_priceform
.fm_price{position:absolute;padding:4px
8px 0;overflow:visible}.madai_wrap .rank_priceform
.fm_price{padding-top:0px}.rank_priceform
p{padding:0
0 2px 0}.rank_priceform
input{border:1px
solid #d0d0d0;padding:2px;width:50px;height:14px;vertical-align:middle}.rank_priceform
div.btns{display:none;padding:0
0 5px 0;text-align:right}.rank_priceform .fm_price
.reset{cursor:pointer;float:left;text-decoration:underline;margin:5px
10px 0 0;font-family:'宋体'}.rank_priceform .fm_price
.btn{display:inline-block;margin:5px
0 0 10px}.rank_priceform .fm_price .btn
button{height:22px;cursor:pointer;height:22px;width:40px;vertical-align:middle}.rank_priceform.focus
.fm_price{border:1px
solid #ccc;background:#fff}.rank_priceform.focus
div.btns{display:block}.single_sift{float:left;margin:0
10px}.single_sift
.sift_box{float:left}.single_sift .sift_box
li{float:left;margin:0
8px 0 0;display:inline}.single_sift .sift_box li
label{cursor:pointer}.single_sift .sift_box li label:hover{color:#f60}.single_sift
.sift_input{vertical-align:middle;margin:0
3px 0 0}.no_result{border:1px
solid #ffea95;background:#fffdf2;padding:10px}.pageration{float:right}.page_top{}.page_top
.page_info{float:left;padding:0
5px 0 0;margin:1px
0 0 0}.page_top .page_start, .page_top .page_prev, .page_top .page_next, .page_top
.page_end{float:left;border:1px
solid #ccc;background:-moz-linear-gradient(top, #fff, #f5f5f5);background:-webkit-gradient(top, #fff, #f5f5f5);background:-linear-gradient(top, #fff, #f5f5f5);background-color:#fff;border-radius:2px;display:inline-block;height:20px;line-height:20px;vertical-align:middle;margin:4px
0 0 5px;cursor:pointer}.page_top
.page_start{color:#404040}.page_top .page_start
span{background-position:-3px -223px;display:block;padding:0
5px 0 15px;width:40px;vertical-align:middle}.page_top
.page_prev{color:#f60}.page_top .page_prev
span{background-position:-3px -253px;display:block;padding:0
5px 0 15px;width:40px}.page_top
.page_next{color:#f60}.page_top .page_next
span{background-position:42px -313px;display:block;padding:0
13px 0 9px;width:40px}.page_top
.page_end{color:#404040}.page_top .page_end
span{background-position:42px -284px;display:block;padding:0
13px 0 9px;width:40px}.prop_list dl
.list_3_show{height:52px;overflow:hidden;width:635px}.prop_list dd
.more{display:inline-block;height:16px;line-height:16px;margin:2px
0;padding:2px
10px;white-space:nowrap}.prop_list dd a:hover{color:#f60}.prop_list dd
.more{background-position:30px -342px;padding-right:12px}.prop_list dd
.morechoice{background-position:27px -340px;padding-right:12px}.prop_list dd
.lesschoice{background-position:27px -366px;padding-right:12px}.confAndCancel{padding:10px
0 0px 85px;text-align:center}.confAndCancel
.confirm{border:1px
solid #d8d8d8;background-color:#fff;padding:2px
15px;*padding:2px
5px 0;margin-right:15px;cursor:pointer;transition:background 0.3s ease-in}.confAndCancel .confirm:hover{color:#f60}.confAndCancel
.cancel{transition:color 0.1s ease-out}.confAndCancel .cancel:hover{color:#f90}.prop_list dd .seniorSel
li{display:block;margin:0
0 0 -1px;position:relative}.prop_list dd .seniorSel li
.seniorBox{display:none}.prop_list dd .seniorSel li.seniorCurrent
.seniorBox{display:block}.prop_list dd .seniorSel li
.arrow{background-position:-5px -340px;*background-position:-5px -346px;display:inline-block;width:12px;height:16px}.prop_list dd .seniorSel li
.seniorTab{border:1px
solid #c6c6c6;z-index:1001;padding:0
5px}.prop_list dd .seniorSel
li.seniorCurrent{z-index:999}.prop_list dd .seniorSel li.seniorCurrent
.seniorTab{border:1px
solid #f90;z-index:1001;border-bottom:none;position:relative;background-color:#fff}.prop_list dd .seniorSel li .seniorBox
p{line-height:24px}.prop_list dd .seniorSel li
.seniorBox{border:1px
solid #f90;position:absolute;padding:10px
46px 10px 10px;background-color:#fff;left:0px;top:24px;z-index:1000;min-width:70px}.prop_list dd .seniorSel li .seniorBox
input{position:relative;top:3px;margin-right:8px}.prop_list dd .seniorSel li .seniorBox
.hand_ml{cursor:pointer}.prop_list
.prop_item.senior_sel{overflow:visible}.had_select
.deltab{background:url(../images/del.png) no-repeat;display:inline-block;height:14px;width:14px;position:relative;top:3px;*top:1px}.prop_list dd .had_select li
a{padding:0px
2px 2px 8px;border:1px
solid #f80;*padding:2px
2px 4px 8px}.madai_wrap .had_select
.deltab{background:url(../images/del_7x7.png) no-repeat 5px 3px;display:inline-block}.prop_list dl
ul.start_city{width:670px;position:relative;heig/ht:48px}.prop_list dl ul.start_city
.morechoice{display:block;right:-28px;top:0px}.prop_list .other_city dl ul.start_city
.lesschoice{display:block;right:-28px;top:0px}.other_city{display:none}.other_city
dt{color:#999}.other_city
dt.fl_t{color:#404040}.madai_wrap .prop_list .showCheckBox .filter_input
a{display:none}.madai_wrap .prop_list .hasMoreChoice .filter_input
label{display:none}.madai_wrap .prop_list .showCheckBox .filter_input
label{display:inline-block;height:16px;line-height:16px;margin:2px
0;padding:2px
8px;white-space:nowrap;cursor:pointer}