.go_{border-top:1px dotted #e2e2e2}.star .star5, .star .star4, .star .star3, .star .star2, .star .star1, .gl_load .gl_icon,.lm_icon{background:url(../images/o_pro_icon.png) no-repeat}.hot_rank li .sg_icon, .hot_rank li .sy_icon, .result_list .result_title, .result_list .result_con p, .result_list .result_con p.last_result, .result_list
.result_unfold{background:url(../images/o_20x500.png) no-repeat}.tn_pro{border:1px
solid #eaeaea;width:188px;overflow:hidden}.tn_pro
.thead_pro{width:188px;height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:#fff;border-bottom:0 none;margin-top:-1px}.tn_pro .thead_pro
h3{text-indent:4px;font-size:14px;font-weight:700;color:#404040;margin:0
6px;border-top:1px solid #eaeaea}.tn_pro .thead_pro h3 a:hover{color:#f60}.tn_pro_y{border:1px
solid #ffcd7c;background-color:#fffcf6}.tn_pro_y
.thead_pro{border-bottom:1px solid #ffcd7c;width:174px;height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:0
auto;background:#fffcf6}.tn_pro_y .thead_pro
h3{text-indent:2px;font-size:14px;font-weight:700;color:#404040;border-top:0 none}.tn_pro_y
.s_cate_list{border-top:1px solid #ffcd7c}.num_green{background:#4e9700;color:#fff;font-weight:400}.num_green_light{background:#a1d27e;color:#fff;font-weight:400}.num_yellow{background:#f60;color:#fff;font-weight:400}.num_grey{background:#b6b6b6;color:#fff;font-weight:400}.num_999{background:#999;color:#fff}.hot_h4{border-top:1px dotted #eaeaea;padding:8px
0 5px 10px;font-weight:700}.hot_rank{padding:0
9px}.hot_rank
li{border-top:1px dotted #eaeaea;margin:-1px 0 0 0;padding:5px
0;overflow:hidden;zoom:1}.hot_rank li
.num_list{border-radius:2px 2px 2px 2px;display:inline-block;width:12px;height:13px;line-height:13px;text-align:center;margin:0
5px 0 0}.hot_rank li
.hot_title{float:left;width:120px;height:20px;margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.hot_rank li .hot_title
a{color:#4e9700}.hot_rank li .hot_title a:hover{color:#f60}.hot_rank li
.hot_price{float:right;color:#999}.hot_rank
li.first_pro{position:relative;padding:10px
0 10px 76px;height:52px}.hot_rank li
.sg_icon{position:absolute;top:10px;left:0;background-position:0 -1664px;color:#fff;width:19px;height:19px;line-height:13px;padding:0
0 0 3px;z-index:2}.hot_rank li
.sy_icon{position:absolute;top:10px;left:0;background-position:0 -1631px;color:#fff;width:19px;height:19px;line-height:13px;padding:0
0 0 3px;z-index:2}.hot_rank li.first_pro
.s_img{position:absolute;top:10px;left:0;width:71px;height:52px;z-index:1}.hot_rank li.first_pro
.hot_title{float:none;width:90px;height:38px;overflow:hidden;white-space:normal}.hot_rank li.first_pro
.hot_price{float:none;color:#999}.cate_list{padding:0
0 0 10px}.cate_list
.sub_h{font-size:12px;color:#4e9700;font-weight:400}.cate_list .sub_h:hover{color:#f60}.cate_list
.cart_wrap{padding:5px
0}.cate_list
dt{height:26px;line-height:26px}.cate_list
dd{overflow:hidden;zoom:1}.cate_list dd
span{float:left;color:#666;width:85px;height:26px;line-height:26px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.cate_list dd
a{color:#404040}.cate_list dd
a.sub_item_curr{font-weight:700}.cate_list dd a:hover{color:#f60}.s_cate_list{padding:5px
0 5px 0;margin:0
7px;border-top:1px solid #eaeaea;overflow:hidden;zoom:1}.s_cate_list_con{padding-left:3px}.s_cate_tit{height:26px;line-height:26px}.s_cate_list
span{float:left;width:85px;height:26px;line-height:26px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.s_cate_list
a{color:#404040}.s_cate_list
.sub_h{font-size:12px;color:#4e9700;font-weight:400}.s_cate_list a:hover{color:#f60}.s_cate_list span.grey, .s_cate_list span.grey a, .s_cate_list span.grey a:hover{color:#999;cursor:auto}.spot_intro{padding:0
0 0 10px}.spot_img{padding:10px
0;overflow:hidden;zoom:1}.spot_img
.spot_img_left{float:left;margin:0
10px 0 0}.spot_img
.spot_right_infor{float:left;width:70px}.star{height:20px}.star .star5, .star .star4, .star .star3, .star .star2, .star
.star1{display:block;height:20px}.star
.star5{background-position:0 -1184px}.star
.star4{background-position:0 -1204px}.star
.star3{background-position:0 -1225px}.star
.star2{background-position:0 -1245px}.star
.star1{background-position:0 -1267px}.spot_short_infor{padding:0
10px;color:#666;word-wrap:break-word;word-break:normal;margin:0
0 10px 0}.tn_pro
.c_detail{display:block;color:#4e9700;text-align:right;margin-top:5px}.spot_short_infor .c_detail:hover{color:#f60}.hot_spot{padding:0
10px;margin-bottom:10px}.hot_spot_wrap{padding:5px
0 0px;width:165px;overflow:hidden}.hot_spot_wrap
dt{font-weight:700;padding:5px
0}.hot_spot_wrap dd
a{color:#666;white-space:nowrap;margin:0
10px 0 0;line-height:1.9}.hot_spot_wrap dd a:hover{color:#f60}.travel_notes{}.travel_notes_wrap{padding:0}.travel_notes_wrap
h3{font-weight:700;padding:5px
0 5px 10px}.latest_look{position:relative;bottom:-1px}.latest_look
li{padding:10px;border-bottom:1px dotted #eaeaea}.latest_look
.l_title{width:168px;height:20px;overflow:hidden}.latest_look .l_title
a{color:#666}.latest_look .l_title a:hover{color:#f60}.latest_look
.l_price{color:#666}.latest_look .l_price
span{font-family:'微软雅黑',Verdana,Geneva,sans-serif;color:#f60}.more_look{text-align:right;padding:0
10px 0 0;height:28px;line-height:28px;margin:-28px 0 0 0}.more_look
a{color:#4e9700}.more_look a:hover{color:#f60}.u_satisfy{padding:0
10px}.u_satisfy_dl{margin:10px
0}.u_satisfy_dl
dt{color:#f60}.u_satisfy_dl
dd{color:#f60;text-align:center;font-family:Arial,Helvetica,sans-serif;font-size:54px;line-height:1;text-align:center}.us_com{margin:10px
0}.us_com
li{border-bottom:1px dotted #eaeaea;padding:10px
0}.us_com
.us_line_name{color:#4e9700;display:block;width:168px;height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.us_com
.us_name{float:left;font-weight:700}.us_com
.us_s{float:right;color:#f60}.left_weather,.left_map,.left_other,.left_link{margin:6px
6px 0px 6px;padding-bottom:10px;width:176px;overflow:hidden}.left_map{border-bottom:1px solid #eaeaea}.left_link{border:0
none}.weather_pic{width:96px;height:100px;margin-right:2px}.weather_pic_des{width:78px}.weather_pic_des
dt{font-weight:bold;text-align:center}.weather_pic_des
dd{line-height:20px;text-align:center}.left_other li
a{font-size:14px;color:#4e9700;line-height:22px}.left_other li a
span{color:#666}.left_link a, .left_other
ul{padding-left:4px}.hot_search
ul{padding:0
10px;margin-bottom:10px}.hot_search ul
a{color:#414141;line-height:22px}.hot_search ul a:hover{color:#f60}.slt_rout
li{border:0
none;margin:0}.final_buy .slt_rout
li{border:0
none;margin-top:0}.leftMenu_tit{height:32px;line-height:32px;border-bottom:1px dotted #ffcd7c;padding:0
10px;position:relative;margin-bottom:-1px}.lm_icon{display:inline-block;width:16px;height:16px;cursor:pointer;position:absolute;right:10px;top:7px}.icon_minus{background-position:-19px -2125px}.show
.lm_icon{background-position:0 -2125px}.leftMenu_con{padding:10px
0 15px 10px;background:#fff;display:none}.leftMenu_con_cur{display:block;border-bottom:1px dotted #ffcd7c}.leftMenu_con
span{display:inline-block;height:26px;line-height:26px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:85px}.leftMenu_tit .bt, .leftMenu_con span
a{color:#404040}.leftMenu_tit.show
.bt{font-weight:bold}.leftMenu_tit .bt:hover, .leftMenu_con span a:hover{color:#f60}.gl_intro{padding:10px
0 10px 30px}.gl_intro
a{width:130px;height:185px;overflow:hidden}.gl_intro a
img{width:130px}.gl_load{padding:0
0 10px 35px;position:relative}.gl_load
a{padding-top:3px}.gl_load a:hover{color:#f60}.gl_load
.gl_icon{display:inline-block;width:20px;height:20px;background-position:-130px -1994px;position:absolute;left:10px;_left:-25px;top:0}.baidu_share{float:right;width:auto;line-height:15px}.search_nav{margin:10px
0 5px;height:25px;line-height:25px;vertical-align:middle}.search_nav{zoom:1}.search_nav:after{content:".";display:block;height:0;clear:both;visibility:hidden}.search_nav
.crumbs{float:left}.search_nav .crumbs
a{color:#404040;padding:0
5px;font-weight:400}.search_nav .crumbs
strong{padding:0
5px}.search_nav .crumbs a:hover{color:#4e9700}.top_nationwide{width:800px}.top_nationwide
.top_title{height:30px;line-height:30px}.top_nationwide .top_title
h2{line-height:16px;font-weight:700;color:#404040;font-size:16px}.nw_tab{float:left;width:799px;height:30px;overflow:visible}.nw_title{display:inline;float:left;margin-left:-1px}.nw_tab
li{float:left;display:inline;border:1px
solid #eaeaea;border-bottom:0 none;margin-right:-1px;position:relative;overflow:visible}.nw_tab li
a{padding:0
10px;line-height:29px;float:left;height:29px;color:#666;font-weight:400;text-align:center}.nw_tab li a:hover{text-decoration:none}.nw_tab
li.cur{background:#4E9700;border-radius:2px 2px 0px 0px}.nw_tab li.cur
a{font-size:14px;font-weight:bold;color:#fff}.nw_tab li.nw_no
a{background-color:#F5F5F5;cursor:default}.nw_tab li.nw_no a:hover{background-color:#F5F5F5;color:#666}.filter_pic{position:absolute;bottom:0;right:95px;display:inline-block;width:135px;height:35px}.nw_tab
.gehb{background:url(../images/nav_bg.png) no-repeat -80px -376px;display:block;height:17px;line-height:17px;position:absolute;right:11px;text-indent:-20000em;top:-9px;width:20px;z-index:11}.sadine{position:absolute;bottom:0;right:95px;width:135px;height:35px;display:inline-block}.top_nationwide
.nw_con{width:800px}.top_nationwide
.nw_gk{width:798px;overflow:hidden}.top_nationwide .nw_gk
.gk_title{height:40px;line-height:40px;color:#404040}.top_nationwide .nw_gk .gk_title
h3{color:#404040;font-weight:700;font-size:14px;padding-left:10px}.top_nationwide .nw_gk .gk_title h3
a{color:#4e9700;font-size:12px;padding:0
0 0 10px;font-weight:400}.top_nationwide .nw_gk .gk_title h3 a:hover{color:#f60}.top_nationwide .nw_gk
.nw_gk_ul{width:825px}.top_nationwide .nw_gk .nw_gk_ul
li{float:left;margin:0
20px 10px 0;display:inline;text-align:center}.top_nationwide .nw_gk
.nw_list_name{width:185px;height:20px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.top_nationwide .nw_gk .nw_list_name a:hover{color:#f60}.top_nationwide
.nw_city{}.top_nationwide .nw_city
h3{color:#404040;font-weight:700;font-size:14px;height:30px;line-height:30px;margin:0
0 5px 0}#city
li{float:left;margin-right:5px;margin-bottom:10px}#city li
a{background:#F90;padding:2px
8px;color:#FFF;border-radius:10px;white-space:nowrap}#city li a:hover{background:#F60;text-decoration:none}#city
h3{padding-left:0}.icon_new{background:url(../images/o_index_icon_1.png) no-repeat;background-position:0 -854px;display:block;width:14px;height:14px;position:absolute;top:-8px;right:1px;text-indent:-2000px}.top_nationwide
.city_list{}.top_nationwide .city_list
.c_ul{margin:0
0 0 0px}.top_nationwide .city_list
.c_item{float:left;margin:0
0 10px 0}.top_nationwide .city_list
.city_name{color:#4e9700;padding:2px
13px;white-space:nowrap}.top_nationwide .city_list .city_name:hover{color:#f60}.lyzh{padding:10px
0 10px 10px}.lyzh
.lyzn_wrap{line-height:1.9}.lyzh .lyzn_wrap
dt{font-weight:700;color:#404040}.lyzh .lyzn_wrap
dd{padding:0
0 0 24px}.lyzh .lyzn_wrap dt a,.lyzh .lyzn_wrap dd
a{color:#666}.lyzh .lyzn_wrap dt a:hover,.lyzh .lyzn_wrap dd a:hover{color:#f60}.ly_map{padding:10px}.lygl{padding:0
10px}.lygl
.gl_list{}.lygl
.gl_item{border-top:1px dotted #eaeaea;margin-top:-1px;padding:15px
0}.lygl .gl_item
.gl_title{color:#4e9700}.lygl .gl_item .gl_title:hover{color:#f60}.lygl .gl_item
.gl_img{margin:10px
0}.lygl .gl_item
.gl_short{color:#666;margin:0
0 5px 0}.lygl .gl_item
.gl_num{color:#888}.gone_spot{padding:0
0 0 10px}.gone_spot
.data_statis{padding:10px
10px 10px 0;height:22px;line-height:22px}.gone_spot
.data_btn{border:0
none;border-radius:3px;background-color:#78ae3f;color:#fff;width:60px;height:22px;text-align:center;cursor:pointer}.gone_spot
.user_list{}.gone_spot .user_list
li{float:left;display:inline;margin:0
5px}.gone_spot
.username{color:#4e9700;white-space:nowrap}.gone_spot .username:hover{color:#f60}.gone_spot li
a{color:#666;white-space:nowrap}.gone_spot li a:hover{color:#f60}.want_data{padding:10px
0 0 14px}.want_data
.want_list{}.want_data .want_list
li{text-align:center;width:160px;margin:0
0 10px 0}.want_data
.want_title{color:#4e9700;display:block;width:160px}.want_data .want_title:hover{color:#f60}.hotlink{padding:5px
10px}.hotlink
a{color:#888;line-height:1.9}.hotlink a:hover{color:#f60}.spot_dp{}.spot_dp
.dp_top{position:relative}.spot_dp
h3.spot_dp_title{height:30px;line-height:30px;padding-left:10px;background-color:#97CD5B;font-size:14px;margin:10px
0 0}.spot_dp h3.spot_dp_title
span{color:#fff;font-weight:700;font-size:14px}.spot_dp
.pup_dp{position:absolute;top:5px;right:10px;text-align:right;z-index:1}.spot_dp .pup_dp
a{color:#fff}.udp{border:1px
solid #eaeaea}.udp
li{border-top:1px dotted #eaeaea;margin:-1px 0 0 0;padding:15px
20px 15px 15px;background-color:expression(this.sourceIndex%2 ? '#f7f7f7':'#ffffff')}.udp li:nth-child(even){background-color:#f7f7f7}.udp
.upic{float:left;margin:0
20px 0 0;width:60px;text-align:center}.udp .upic
a{color:#4e9700}.udp
.u_con{}.blogroll{width:1000px;margin:0
auto}.blogroll
dl{border:1px
solid #eaeaea;padding:8px
10px;line-height:1.9}.blogroll
dt{float:left;width:60px;color:#999}.blogroll
dd{float:left;width:915px}.blogroll dd
a{color:#999;padding:0
5px;white-space:nowrap}.blogroll dd a:hover{color:#f60}.green{color:#4e9700}.hot_search
p{margin:10px;line-height:180%}.weather
p{margin-top:5px;line-height:200%;text-align:center}.train_data{border-collapse:collapse}.train_data
th{border:1px
solid #EAEAEA;color:#00F;text-align:center}.train_data
td{border:1px
solid #EAEAEA;text-align:center}.travel_notes_list
li{width:378px;float:left}.travel_notes_wrap .travel_notes_list
.note_item_w350{width:350px}.travel_notes_list
.note_price{float:right}.travel_notes_list
.nl_num{font-size:10px}.prop_list dd li a,.s_cate_list span
a{color:#404040}.same_poi .spot_short_infor
p{min-height:160px}.top_tip_box{border:1px
solid #ffcd7c;margin:10px
0;background:#fffcf6;padding:15px
100px;font-size:14px;color:#404040;line-height:28px}.top_tip_des{border-bottom:1px solid #e3e3e3;padding-bottom:15px;margin-bottom:5px}.top_tip_des
span{color:#f60}.pop_btn{width:83px;height:26px;line-height:26px;text-align:center;background:#4e9700;font-size:14px;font-weight:bold;color:#fff;border:0
none;margin-left:70px;cursor:pointer}.top_tip_city
a{padding-right:20px;color:#4e9700;text-decoration:underline}.top_tip_city a:hover{color:#f60}.addcollection{width:95px;height:20px;background:#2e9700;float:left;line-height:20px;color:#fff;text-align:center;margin-top:5px;margin-left:66px;display:block;cursor:pointer}.index1200
.blogroll{width:1200px}